# Ignore datasets (large files)

*.tsv
*.xlsx
linkedin_full_dataset.zip
*.zip
linkedin_full_dataset.csv

*.zip
# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# IDE & editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
